@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto+Condensed:wght@300;700&display=swap");

:root {
  --drk-gray: rgba(37, 37, 37, 1);
  --bahama-blue: rgba(65, 147, 169, 1);
  --bahama-dark: rgba(65, 147, 169, 0.5);
  --off-white: rgba(215, 215, 215, 1);
  --slated-gray: rgba(208, 208, 208, 0.8);
  --boston-blue: rgb(59, 190, 226);
}

* {
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(37, 37, 37, 1);
  scroll-behavior: smooth;
}

body {
  padding-top: var(--nav-height);
}

/*
    Navbar part
*/

li,
a,
button {
  font-weight: 300;
  font-size: 26px;
  color: var(--off-white);
  text-decoration: none;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: auto;
  padding: 2% 2%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.navbar {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-evenly;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  margin: 2% 2% 0% 0%;
  padding: 1% 2% 2% 0%;
  top: 0;
  left: 0;
  color: var(--slated-gray);
  z-index: 2;
}

.nav_links {
  list-style: none;
  transition: all 0.3s ease-in-out 0s;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: var(--boston-blue);
}

.par-decor {
  color: var(--bahama-blue);
}

.contact-btn {
  padding: 7%;
  background-color: var(--drk-gray);
  color: var(--off-white);
  border-color: var(--bahama-dark);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  z-index: 6;
}

.name-lastname {
  font-weight: 700;
  color: var(--off-white);
  font-size: 36px;
}

.name {
  font-weight: 700;
}

.name-lastname {
  transition: all 0.3s ease 0s;
}

.name-lastname:hover {
  color: var(--boston-blue);
}

/*
    Button property
*/

button:hover {
  color: rgba(152, 178, 190, 0.9);
  filter: drop-shadow(0 0 0.65rem var(--bahama-blue));
  border-color: var(--bahama-blue);
}


/*
    Home part
*/

.home-cont {
  margin: 4% 10% 0%;
  padding-top: 4%;
  z-index: 5;
}

.small-txt {
  padding-top: 1%;
  font-size: 30px;
  font-weight: 100;
  color: var(--boston-blue);
}

.home-name {
  font-size: 67px;
  font-weight: 300;
  color: var(--off-white);
}

.home-profession {
  font-size: 67px;
  font-weight: 300;
  color: var(--slated-gray);
}

.prof-typing {
  font-weight: 700;
}

.para-text {
  max-width: 40rem;
  font-size: 20px;
  color: var(--slated-gray);
}

.uni-link {
  font-size: 20px;
  color: var(--boston-blue);
  transition: all 0.3s ease 0s;
}

.uni-link:hover {
  color: var(--bahama-blue);
}

.resume-btn {
  margin: 2% 0%;
  padding: 1% 2%;
  font-size: 20px;
  color: var(--off-white);
  border-radius: 5px;
  border-color: var(--bahama-dark);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}


/*
    About part
*/

#about{
    margin: 10%;
    color:var(--slated-gray);
}

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 8% 4% 0;
}

.about-content img{
    max-height: 15rem;
    margin: auto 10%;
    padding: auto 10%;
    align-items: ce;
    filter: drop-shadow(0 0 0.75rem var(--bahama-blue));
    opacity: 0.7;
    box-shadow: 15px 15px var(--slated-gray);
    transition: all 0.3s ease-in-out 0s;
}

.about-content img:hover{
    opacity: 0.8;
    filter: drop-shadow(0 0 0.85rem var(--bahama-blue));
    box-shadow: 10px 10px var(--bahama-blue);
    transition: all 0.3s ease 0s;
}

.about-content .txt-container{
    margin: 0 2% 2% ;
    margin-left: auto;
    font-size: 20px;
}

.about-content .title{
    margin: 4% 0%;
}

.active{
    order: -1;
    flex: 1 0 22%;
}

/*
    Projects part
*/
#projects{
    margin: 10%;
    color: var(--slated-gray);
}

.proj-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 8% 4% 0;
    font-size: 20px;
}

.proj-content .title{
    font-size: 32px;
    margin: 4% 0%;
}

